In [1]:
for i in range(1, 11):
    for k in range(1, 11):
        print(f"{i} x {k} = {i*k}")

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [3]:
alunos1 = [7, 8, 9, 10, 6]
alunos2 = [8, 9, 10, 5, 7]

for nota1 in alunos1:
    for nota2 in alunos2:
        if nota1 == nota2:
            print("Nota igual")

In [10]:
lista1 = [1, 2, 3]
lista2 = [4, 5, 6]

for i in range(len(lista1)):
    for k in range(len(lista2)):
        if i == k:
            print(f'A soma dos elementos na posição é {lista1[i]} + {lista2[k]}')
    print()

A soma dos elementos na posição é 1 + 4

A soma dos elementos na posição é 2 + 5

A soma dos elementos na posição é 3 + 6

In [18]:
words = ["python", "matlab", "javascript", "vscode", "spyder"]
vowels = 'aeiou'

for word in words:
    count_vowels = 0

    for letter in word:
        if letter in vowels:
            count_vowels += 1 
    vowel = "vowels" if count_vowels > 1 else "vowel"
    print(f"The word '{word.capitalize()}' has {count_vowels} {vowel}!")

The word 'Python' has 1 vowel!
The word 'Matlab' has 2 vowels!
The word 'Javascript' has 3 vowels!
The word 'Vscode' has 2 vowels!
The word 'Spyder' has 1 vowel!

In [20]:
for i in range(1, 11):
    for k in range(1, 11):
        if 2 <= k <= 6:
            print(f"{i} x {k} = {i*k}")

1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60

In [21]:
lista_palavras = ["brasil", "inglaterra", "estados unidos", "canada", "chile"]
consoantes = "qwrtypsdfghjklzxcvbnm"

for palavra in lista_palavras:
    count_consoantes = 0
    for letra in palavra:
        if letra in consoantes:
            count_consoantes +=1
    print(f"A palavra {palavra} tem {count_consoantes} consoantes!")

A palavra brasil tem 4 consoantes!
A palavra inglaterra tem 6 consoantes!
A palavra estados unidos tem 7 consoantes!
A palavra canada tem 3 consoantes!
A palavra chile tem 3 consoantes!

In [24]:
palavras_chaves = ["hoje", "mundo", "estudar", "praticar"]
lista_de_texto = ['hoje e sexta-feira', 'em 2022, tivemos copa do mundo', 'a melhor forma de estudar python e praticar']

lista = []
palavra = ""
for i in lista_de_texto:
    for a in i:
        palavra+=i
        if i == " ":
            lista.append(palavra)
            palavra = 0
            continue
    for k in lista:
        for j in palavras_chaves:
            if k == j:
                print(f"Palavra chave na frase {lista}")
    lista = []

In [27]:
import pandas as pd

df = pd.DataFrame([[4, 5, 6],[7, 8, 9]], columns=["coluna1", "coluna2", "coluna3"])
df

   coluna1  coluna2  coluna3
0        4        5        6
1        7        8        9

In [29]:
df["quadrado"] = df.apply(lambda row: row["coluna1"] * row["coluna2"], axis=1)
df

   coluna1  coluna2  coluna3  quadrado
0        4        5        6        20
1        7        8        9        56

In [33]:
df = pd.DataFrame([[4, 5, 6, 7, 8], [7, 8, 9, 10, 11]], columns=["column1", "column2", "column3", "column4", "column5"])

df_normalizado = df.apply(lambda col: (col - col.min()) / (col.max() - col.min()))
df_normalizado

   column1  column2  column3  column4  column5
0      0.0      0.0      0.0      0.0      0.0
1      1.0      1.0      1.0      1.0      1.0