In [1]:
import pandas as pd

In [6]:
s1 = pd.Series([1,2,3,4,5,])

In [4]:
print(s1[2])

3

In [8]:
s2 = pd.Series([6,7,8,9,10])

soma = s1 + s2
soma

0     7
1     9
2    11
3    13
4    15
dtype: int64

In [22]:
s3 = pd.Series([1,2,3,4,5,6,7,8,9,10])
s4 = pd.Series([10,9,8,7,6,5,4,3,2,1])
print(s3[s3 > 5])

5     6
6     7
7     8
8     9
9    10
dtype: int64

In [18]:
mean = s3.sum() / len(s3)
mean

5.5

In [19]:
s3.std()

3.0276503540974917

In [23]:
pd.concat([s1,  s2], axis = 1)

   0   1
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

In [25]:
sub = s3 - s4
sub

0   -9
1   -7
2   -5
3   -3
4   -1
5    1
6    3
7    5
8    7
9    9
dtype: int64

In [41]:
s1.sort_values(ascending = False)
s5 = pd.Series(range(10, 1, -1))
s5

0    10
1     9
2     8
3     7
4     6
5     5
6     4
7     3
8     2
dtype: int64

In [36]:
s3.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [29]:
s3[2:7]

2    3
3    4
4    5
5    6
6    7
dtype: int64