In [ ]:
%pip install pandas

In [4]:
import pandas as pd

In [1]:
dados = {"A":[1,2,3,4,5],
         "B":["a","b","c","d","e"]}

dados

{'A': [1, 2, 3, 4, 5], 'B': ['a', 'b', 'c', 'd', 'e']}

In [5]:
df = pd.DataFrame(dados)
df

   A  B
0  1  a
1  2  b
2  3  c
3  4  d
4  5  e

In [3]:
def cont(n):
    for i in range(1,n+1):
        print(i)

cont(11)

1
2
3
4
5
6
7
8
9
10
11

In [14]:
def verify(cores):
    for i in cores:
        print(f"Cor {i}")

verify(["Azul","Amarelo","Verde"])

Cor Azul
Cor Amarelo
Cor Verde

In [2]:
lista_meses = ["Janeiro","Fevereiro","Mar√ßo"]
def calculadora(meses):
    total = 0
    for i in range(len(meses)):
        despesas = float(input(f"Digite as despesas do mes"))
        total+=despesas
    return f"O total das despesas do mes foi de {total}"

calculadora(lista_meses)

'O total das despesas do mes foi de 1140.0'

In [34]:
def monitorando():
    print("Para sair do loop de perguntas digite '-999'")
    temp = []
    media = 0
    mediana = 0 
    while True:
        temperatura = float(input(""))
        if temperatura == -999:
            break
        temp.append(temperatura)
        media+=temperatura
    media/=len(temp)

    temp = sorted(temp)
    if len(temp) % 2 != 0:
        mediana = temp[int(len(temp)/2)]
    else:
        mediana = ((temp[int(len(temp)/2 + 0.5)]) + (temp[int(len(temp)/2 - 0.5)]))/2
    

    return min(temp), max(temp), media,mediana

monitorando()

Para sair do loop de perguntas digite '-999'

(10.0, 50.0, 30.0, 30.0)

In [37]:
def monitorando():
    print("Para sair do loop de perguntas digite '-999'")
    temp = []
    media = 0
    mediana = 0 
    while True:
        temperatura = float(input(""))
        if temperatura == -999:
            break
        temp.append(temperatura)
        media+=temperatura
    media/=len(temp)


#CALCULANDO MAXIMO E MINIMO
    cont = 0
    maximo = 0
    minimo = 0
    for i in temp:
        if cont + 1 < len(temp):
            break
        if i[cont] > i[cont + 1]:
            maximo = i
        if i[cont] < i[cont + 1]:
            minimo = i
        cont+=1


# CALCULANDO MEDIANA
    temp = sorted(temp)
    if len(temp) % 2 != 0:
        mediana = temp[int(len(temp)/2)]
    else:
        mediana = ((temp[int(len(temp)/2 + 0.5)]) + (temp[int(len(temp)/2 - 0.5)]))/2
    

#RETORNANDO
    return minimo, maximo, media,mediana

monitorando()

Para sair do loop de perguntas digite '-999'

(0, 0, 50.0, 50.0)