Estrutura de dados em JSON

In [2]:
import json

data = {
    "nome": "joao",
    "idade": "20",
    "cidade": "s達o paulo"
}

In [3]:
with open("exemplo_json.json", "w") as json_file:
    json.dump(data, json_file)

In [4]:
with open("exemplo_json.json", "r") as json_file:
    df_json = json.load(json_file)

In [5]:
df_json

{'nome': 'joao', 'idade': '20', 'cidade': 's達o paulo'}

Estuura de dados em CSV

In [7]:
import pandas as pd

data = {
    "nome": ["ana", "pedro", "maria", "camila"],
    "idade": [20, 49, 34, 23],
    "cidade": ["sao paulo", "fortaleza", "rio de janeiro", "sao paulo"]
}
df_csv = pd.DataFrame(data)

In [8]:
df_csv

     nome  idade          cidade
0     ana     20       sao paulo
1   pedro     49       fortaleza
2   maria     34  rio de janeiro
3  camila     23       sao paulo

In [27]:
df_csv.to_csv("exemplos_csv.csv", index=False)

In [26]:
#lendo arquivo csv

df_csv = pd.read_csv("./exemplo_csv.csv")
df_csv

     nome  idade          cidade
0     ana     20       sao paulo
1   pedro     49       fortaleza
2   maria     34  rio de janeiro
3  camila     23       sao paulo

Esrutua em exc

In [21]:
%pip install pandas openpyxl

Requirement already satisfied: pandas in c:\program files\python312\lib\site-packages (2.2.2)
Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\program files\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\program files\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\program files\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\program files\python312\lib\site-packages (from pandas) (2024.1)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Requirement already satisfied: six>=1.5 in c:\program files\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
   ---------------------------------------- 0.0/250.9 kB ? eta -:--:--
   - -------------------------------------- 10.2/250.9 kB ? eta -:--:--
   ------------ -------------------------- 81.9/250.9 kB 919.0 kB/s eta 0:00:01
   ---------------------------------------- 250.9/250.9 kB 2.6 MB/s eta 0:00:00
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

DEPRECATION: Loading egg at c:\program files\python312\lib\site-packages\vboxapi-1.0-py3.12.egg is deprecated. pip 24.3 will enforce this behaviour change. A possible replacement is to use pip for package installation.. Discussion can be found at https://github.com/pypa/pip/issues/12330

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [22]:
import pandas as pd 
data = {
    "nome": ["ana", "pedro", "maria", "camila"],
    "idade": [20, 49, 34, 23],
    "cidade": ["sao paulo", "fortaleza", "rio de janeiro", "sao paulo"]
}

df_excel = pd.DataFrame(data)
df_excel.to_excel("exemplo_excel.xlsx", index=False)

In [15]:
dados = {
    "Nome": ["Ana", "Pedro", "Maria", "Camila"],
    "Profiss達o": ["Contadora", "Engenheiro", "Arquiteta", "Bancaria"],
    "Idade": [20, 45, 43, 68],
    "Sexo": ["F", "M", "F", "F"]
}

with open("arquivo_json.json", "w") as json_file:
    json.dump(dados, json_file)

In [28]:
dados = {
    "Nome": ["Ana", "Pedro", "Maria", "Camila"],
    "Profiss達o": ["Contadora", "Engenheiro", "Arquiteta", "Bancaria"],
    "Idade": [20, 45, 43, 68],
    "Sexo": ["F", "M", "F", "F"]
}

df_dados = pd.DataFrame(dados)
df_dados.to_csv("arquivo_cvs.csv", index=False)

In [25]:
dados = {
    "Nome": ["Ana", "Pedro", "Maria", "Camila"],
    "Profiss達o": ["Contadora", "Engenheiro", "Arquiteta", "Bancaria"],
    "Idade": [20, 45, 43, 68],
    "Sexo": ["F", "M", "F", "F"]
}
df_dados.to_excel("arquivo_excel.xlsx", index=False)

In [ ]:
for i in range(len(df_dados["Nome"])):
    print(f"Nome: {dados['nome'][i],}, Idade: {dados['idade'][i]}, Profiss達o: {dados['Profiss達o'],[i]}")

KeyError: 'nome'

KeyboardInterrupt